<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299101832426-pt3nr5fj8vqli75f8mcg7dbdra3m9c99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299101832426-pt3nr5fj8vqli75f8mcg7dbdra3m9c99</string>
	<key>API_KEY</key>
	<string>AIzaSyCT5hTMqV0Lll5ot-L7Jzi7DVgTiLnQ-Vc</string>
	<key>GCM_SENDER_ID</key>
	<string>299101832426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.vinod.flashChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-bdfd7</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-bdfd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299101832426:ios:79d877d5d13ef5b5ddc393</string>
	<key>DATABASE_URL</key>
	<string>https://firechat-bdfd7.firebaseio.com</string>
</dict>
</plist>